<section class="page-courses">
  <div class="col-xs-12 tracker-content">
    Home > Courses > <font color="#3f51b5">Course</font>
  </div>
  <div class="spacer"></div>

  <md-card>
    <md-card-content>


  <md-progress-bar
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value"
    [bufferValue]="bufferValue">
  </md-progress-bar>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-md-3 syllabus">
      <h4>Syllabus</h4>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8 syllabus-contant">



    </div>
  </div>
    </md-card-content>
  </md-card>
</section>
