.page-login{
  button{
    margin-bottom: 15px;
    width: 200px;
  }
  .btn-boarder{
    border: 1px solid blue;
    background-color: #ffffff;
    color: blue;
  }
  input{
    width: 200px;
  }

}
