<div class="fixed-top">
  <md-toolbar color="primary">

    <span>School</span>
    <div class="col-xs-12">
      <a md-button color="primary"  class="btn-boarder" routerLink="/register">Sign Up</a>
      <a md-button color="primary" class="btn-boarder" routerLink="/login">Login</a>
    </div>

  </md-toolbar>

  <span class="done">
    <button md-fab>

    </button>
  </span>
</div>
<div class="hero ">
  <div class="bg-color">

  </div>

</div>
<router-outlet></router-outlet>
<footer class="">



</footer>

